<h2>New movie</h2>
<form action="/movies/create" method="POST">
  <label>Title:</label>
  <input type="text" name="Title" />
  <label>genre:</label>
  <input type="text" name="genre" />
  <label>plot:</label>
  <input type="text" name="plot" />
  <br />
  <button type="submit">New Movie</button>
</form>